.Resume {
  max-width: 1280px;
  padding: 40px 180px;
  text-align: center;
}

.Careers {
  margin-bottom: 20px;
  margin-right: -15px;
  margin-left: -15px;
}

.careersHeader {
  font-weight: 700;
  line-height: 0.5;
  padding-bottom: 10px;
}
