.Contact {
  max-width: 1280px;
  background-color: #d1f1f3;
  padding: 40px 180px;
}

.contactList {
  margin-left: 30%;
  max-width: 50%;
  list-style: none;
  margin-left: 50px 0 0 0;
  padding: 0px;
}

#contact,
li {
  display: block;
  margin: 24px, 24px;
  align-items: center;
}

.wholelistitem {
  display: flex;
  box-sizing: border-box;
  margin-left: 50px;
  font-size: 18px;
}
.wholelistitem:hover {
  padding-left: 25px;
  background-color: lightpink;
  color: white;
}

.icon {
  flex-basis: 40px;
  padding-top: 4px;
  margin-right: 20px;
}

.wrapper {
  flex-basis: 95%;
}

.anchortag {
  display: block;
  text-decoration: none;
  color: lightslategrey;
}
