.Skills {
  background-color: #d1f1f3;
  padding: 100px 120px;
  margin-right: auto;
  margin-left: auto;
}

p.lead {
  text-align: center;
  color: lightpink;
}

.row {
  text-align: left;
}
.colLeft {
  width: 50%;
}
.skillsList {
  list-style: none;
}

.listItem {
  display: flex;
}

.Ratings {
  display: flex;
  float: right;
}
