.AboutMe {
  display: flex;
  background-color: #d1f1f3;
  padding: 100px 120px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 54px;
  text-align: center;
  color: lightslategray;
  margin-bottom: 20px;
}

.paragraph {
  position: relative;
  font-size: 18px;
  line-height: 1.64;
  margin: 10px 10px;
}

.details {
  text-align: center;
}

.detailsList {
  list-style: none;
  text-align: left;
  padding-left: 200px;
  line-height: 1.64;
  font-size: 18px;
}
