.AboutMe {
  display: flex;
  background-color: #d1f1f3;
  box-sizing: border-box;
  max-width: 1280px;
  padding: 40px 120px;
  margin-right: 10px;
  margin-left: auto;
}

h1 {
  font-size: 54px;
  text-align: center;
  color: lightslategray;
  margin-bottom: 20px;
}

.paragraph {
  position: relative;
  font-size: 15px;
  line-height: 1.64;
  min-height: 1px;
  margin: 10px 10px;
}
