.Projects {
  max-width: 1280px;
  padding: 40px 180px;
  margin-right: 100px;
}

.ProjectPic {
  display: inline-block;
  max-width: 45%;
  margin-left: 0px;
  margin-right: 40px;
}

.projectFigure {
  margin: 10px;
  position: relative;
}

.projectImg {
  max-width: 100%;
  background-color: pink;
  display: block;
  position: relative;
}

.figCaption {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 100%;
  text-align: left;
  opacity: 0;
  color: black;
}

.projectFigure:hover .projectImg {
  opacity: 0.15;
  background-color: pink;
}

.projectFigure:hover .figCaption {
  opacity: 1;
}
